a {
  color: rgb(166, 210, 8);
}
a:hover {
  color: #587004;
}
a:active {
  color: blue;
}
a:visited {
  color: green;
}

* {
  margin: 0;
  padding: 0;
}

#grid {
  float: left;
  width: 100%;
}
#grid > div {
  float: left;
  background: pink;
  margin-right: 5%;
  margin-bottom: 5%;
  height: 150px;
  width: 10%;
}
#grid > div:nth-child(7n) {
  margin-right: 0;
}

.block:not(.first) {
  padding: 20px 40px;
  background: #7d6f6f;
  height: 200px;
  margin-bottom: 20px;
  width: 30%;
  border: 4px solid red;
}

.first {
  width: 30%;
  border: 4px solid red;
  background: #7d6f6f;
  height: 100px;
  margin-bottom: 20px;
}

#central_block {
  padding: 30px;
}
#central_block ul {
  list-style: none;
  display: inline-block;
}
#central_block li {
  float: left;
  width: 130%;
}
#central_block li a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
#central_block li a:hover {
  color: red;
}
#central_block a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}