* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
  font-weight: 500;
  font-size: 16px;
  color: #E4E5EA;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: no-repeat url("../../../assets/Desktop-original.svg");
  background-clip: border-box;
  background-color: #1E1E1E;
  background-position: 50% 0%;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1192px;
}

.header__container {
  margin: 0;
  max-width: 1140px;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13% 4% 44% 4% 35%;
  grid-template-columns: 13% 44% 35%;
  -ms-grid-rows: 75px;
  grid-template-rows: 75px;
  -webkit-column-gap: 4%;
     -moz-column-gap: 4%;
          column-gap: 4%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.header > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.header__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 5px;
}
.header__list-item {
  margin-right: 30px;
}
.header__list-item:last-child {
  margin: 0;
}
.header__contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 145px 169px;
  grid-template-columns: 145px 169px;
  -ms-grid-column-align: end;
      justify-self: end;
}
.header__contacts .social-network {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}

.header__logo-comment {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
  font-weight: 300;
  font-size: 10px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.main__container {
  margin: 0;
  max-width: 1192px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 31%;
  grid-template-columns: 40% 31%;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 173px;
      grid-template-areas: "left right" ". button";
}
.main__left-block {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}
.main__right-block {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  margin-top: 10px;
}
.main__button {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button;
  width: 262px;
  height: 61px;
  margin: 61px 10px 0px 0px;
  -ms-grid-column-align: end;
      justify-self: end;
  background: #4077F3;
  font-size: 16px;
  color: #E4E5EA;
  border: none;
}
.main__left-header {
  font-family: Inter, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
  font-weight: 400;
  font-size: 48px;
}
.main__left-header .colorText {
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#FCB045), to(#FF3F78));
  background-image: linear-gradient(to right, #FCB045, #FF3F78);
}
.main__right-header {
  font-family: Inter, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
  font-weight: 700;
  font-size: 18px;
  text-align: end;
}
.main__right-header .colorText {
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#FCB045), to(#FF3F78));
  background-image: linear-gradient(to right, #FCB045, #FF3F78);
}
.main__left-paragraph {
  margin-top: 30px;
  width: 68%;
  font-size: 18px;
}

.quatroBlock-mobile {
  display: none;
}

.quatroBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 125px 36px 125px;
  grid-template-columns: repeat(2, 125px);
  grid-auto-rows: minmax(auto, 80px);
  row-gap: 30px;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: end;
  margin-top: 40px;
}
.quatroBlock__header {
  font-family: Inter, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
  font-weight: 500;
  font-size: 18px;
}
.quatroBlock__span {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
  font-weight: 400;
  font-size: 16px;
}

.footer-container {
  margin: 0;
  max-width: 1140px;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 107px 425px 107px 300px;
  grid-template-columns: 200px 425px 300px;
  grid-column-gap: 107px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
      grid-template-areas: "block1 block2 block3" ". . commentBlock";
}
.footer__header {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
  color: #656566;
}
.footer__block1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: block1;
}
.footer__block2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: block2;
}
.footer__block2 .footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.footer__block3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: block3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (40px)[4];
  grid-template-rows: repeat(4, 40px);
  text-align: end;
}
.footer__block4 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: commentBlock;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
  font-weight: 400;
  font-size: 12px;
  text-align: end;
  margin-bottom: 20px;
  margin-top: 33px;
}
.footer__comment_underline {
  text-decoration: underline;
  line-height: 20px;
}
.footer__list {
  list-style: none;
}
.footer__list-item {
  padding-bottom: 10px;
}