@import '../mixins.scss';
@import '../variables.scss';

@media screen and (max-width: $breakpoint1) {
    .wrapper{
      width:98%;
    }
    .main{
      margin: 94px auto 173px auto;
    }
    
  }
  @media screen and (max-width: $breakpoint2) {
    .footer{
      grid-column-gap: 0;
      justify-content: space-between;
    }
  }
  @media screen and (max-width: $breakpoint3) {
    body{
      background-position: 32% 0%;
      background-size: cover;
    }
    .header {
      grid-template-columns: 15% 52% 20%;
    }
    .header__contacts {
      grid-template-columns: 170px;
    }
    .header__contacts .phoneNumber {
      display: none;
    }
    .main{
      grid-template-columns: 46% 36%;
      margin-bottom: 50px;
    }
    body .footer{
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas: 'block1'
                           'block2'
                           'block3'
                           'block4';
      justify-content: center;
      &__block4, &__block3{
        grid-column: 1;
        text-align: start;
      }
    }
  }
  @media screen and (max-width: $breakpoint4) {
    .wrapper{
      width:100%;
      .header-container, .main-container{
        width:98%;
        margin:0 auto;
      }
    }
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: 55px;
      align-items: center;
      background: black;
      max-width: 100%;
    }
    .header__logo, .header__contacts, .header__logo-comment, .header__list-item:last-child {
      display: none;
    }
    .header__list {
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      padding-bottom: 0;
    }
    .main{
      grid-template-columns: 54% 41%;
    }
    .footer-container{
      background: black;
    }
    .footer{
      padding-top: 40px;
    }
  }
  @media screen and (max-width: $breakpoint5) {
    .main{
      grid-template-columns: 54%;
      grid-template-areas: 'left'
      'right';
      justify-content: center;
      margin-top: 40px;
      &__button{
        display:none;
      }
      &__right-header{
        text-align: start;
        margin-top: 45px;
      }
      &__left-header{
        font-size:36px;
      }
      &__left-paragraph{
        margin-top: 15px;
        width: 92%;
      }
      .quatroBlock{
        justify-content: start;
        text-align: start;
      }
    }
    .footer{
      width: 88%;
      margin: 0 auto;
      &__header{
        @include fontStyle(Inter,$srcInter,400,14px)
      }
      &__list-item{
        @include fontStyle(Montserrat,$srcMontserrat,400,14px)
      }
    }
  }
  @media screen and (max-width: $breakpoint6) {
    .header__list {
      justify-content: space-around;
    }
    .header__list-item {
      font-size: 12px;
      margin: 0;
    }
    .main-container{
      background:no-repeat url(../../../assets/mobilescreen.svg);
      background-clip: border-box;
      background-color: $backColor;
      background-size: cover;
    }
    .main{
      justify-content: start;
      width:90%;
      grid-template-columns: 100%;
      padding:45px 0;
      margin:0 auto;
      &__right-header>.colorText{
        text-transform: lowercase;
      }
    }
    .quatroBlock{
      display:none;
    }
    .quatroBlock-mobile{
      display: grid;
      @include fontStyle(Montserrat,$srcMontserrat,400,13px);
      grid-template-columns: repeat(2,132px);
      grid-template-rows: repeat(2,1fr);
      row-gap: 14px;
      margin-top: 20px;
      &__img{
        padding-bottom: 4px;
      }
    }
    @for $i from 1 to 4 {
      .footer__block#{$i} {
        margin-bottom: 30px;
      }
    }
    .footer__block4{
      margin-top: 0;
    }
    .adress{
      font-size: 14px;
    }
    .footer__block2{
      .footer__list{
        grid-template-columns: 115px 115px;
        &-item{
          width:115px;
        }
        &-item:nth-child(2n){
          padding-left: 15px;
        }
      }
    }
    .footer__list-item:nth-child(2){
      visibility: hidden;
      visibility: hidden;
      padding: 0;
      margin-bottom: -10px;
    } 
    .footer__list-item:nth-child(2)::before{
      visibility: visible;
      content: 'Благодарность клиентов';
    } 
    .footer__list-item:nth-child(4){
      visibility: hidden;
      visibility: hidden;
      padding: 0;
      margin-bottom: -10px;
    } 
    .footer__list-item:nth-child(4)::before{
      visibility: visible;
      content: 'Кейсы';
    } 
  }
  @media screen and (max-width:325px){
    .main-container{
      background-size:auto;
    }
  }