@import '../mixins.scss';
@import '../variables.scss';

@media screen and (max-width: $breakpoint1) {
    .header {
      margin: 0 auto;
      max-width: 98%;
    }
    .main{
      margin: 94px auto 118px auto;
      max-width: 98%;
    }
    .footer{
      margin: 0 auto;
      max-width: 98%;
    }
  }
  @media screen and (max-width: $breakpoint3) {
    .header {
      grid-template-columns: 15% 52% 20%;
    }
    .header__contacts {
      grid-template-columns: 170px;
    }
    .header__contacts .phoneNumber {
      display: none;
    }
    .main{
      grid-template-columns: 46% 36%;
    }
  }
  @media screen and (max-width: $breakpoint4) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: 55px;
      align-items: center;
      background: black;
      max-width: 100%;
    }
    .header__logo, .header__contacts, .header__logo-comment, .header__list-item:last-child {
      display: none;
    }
    .header__list {
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      padding-bottom: 0;
    }
    .main{
      grid-template-columns: 54% 41%;
    }
  }
  @media screen and (max-width: $breakpoint5) {
    .main{
      grid-template-columns: 54%;
      grid-template-areas: 'left'
      'right';
      justify-content: center;
      margin-top: 40px;
      &__button{
        display:none;
      }
      &__right-header{
        text-align: start;
        margin-top: 45px;
      }
      &__left-header{
        font-size:36px;
      }
      &__left-paragraph{
        margin-top: 15px;
        width: 92%;
      }
      .quatroBlock{
        justify-content: start;
        text-align: start;
      }
    }
  }
  @media screen and (max-width: $breakpoint6) {
    .header__list {
      justify-content: space-around;
    }
    .header__list-item {
      font-size: 12px;
      margin: 0;
    }
    .main-container{
      background:no-repeat url(../../../assets/mobilescreen.svg);
      background-clip: border-box;
      background-color: $backColor;
      background-size: cover;
    }
    .main{
      justify-content: start;
      width:90%;
      grid-template-columns: 100%;
      padding:45px 0;
      margin:0 auto;
      &__right-header>.colorText{
        text-transform: lowercase;
      }
    }
    .quatroBlock{
      display:none;
    }
    .quatroBlock-mobile{
      display: grid;
      @include fontStyle(Montserrat,$srcMontserrat,400,13px);
      grid-template-columns: repeat(2,132px);
      grid-template-rows: repeat(2,1fr);
      row-gap: 14px;
      margin-top: 20px;
      &__img{
        padding-bottom: 4px;
      }
    }
  }