@import '../../scss/mixins.scss';
@import '../../scss/variables';

@media screen and (max-width:1140px){
    .header{
        @include containerOrientation(0 auto, 98%);
    }
}
@media screen and (max-width:1050px){
    .header{
        grid-template-columns: 15% 52% 20%;
        &__contacts{
            grid-template-columns: 170px;
            .phoneNumber{
                display: none;
            }
        }
    }
}
@media screen and (max-width:900px){
    .header{
        grid-template-columns: 1fr;
        grid-template-rows: 55px;
        align-items: center;
        background: black;
        max-width: 100%;
        &__logo, &__contacts, &__logo-comment,&__list-item:last-child{
            display: none;
        }
        &__list{
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            padding-bottom: 0;
        }
    }
    @media screen and (max-width:500px){
        .header__list{
            justify-content: space-around;
            &-item{
                font-size: 12px;
                margin: 0;
            }
        }
    }
}