@charset "UTF-8";
@media screen and (max-width: 1192px) {
  .wrapper {
    width: 98%;
  }
  .main {
    margin: 94px auto 173px auto;
  }
}
@media screen and (max-width: 1160px) {
  .footer {
    grid-column-gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 1050px) {
  body {
    background-position: 32% 0%;
    background-size: cover;
  }
  .header {
    -ms-grid-columns: 15% 52% 20%;
    grid-template-columns: 15% 52% 20%;
  }
  .header__contacts {
    -ms-grid-columns: 170px;
    grid-template-columns: 170px;
  }
  .header__contacts .phoneNumber {
    display: none;
  }
  .main {
    -ms-grid-columns: 46% 36%;
    grid-template-columns: 46% 36%;
    margin-bottom: 50px;
  }
  body .footer {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
        grid-template-areas: "block1" "block2" "block3" "block4";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .footer__block4, body .footer__block3 {
    -ms-grid-column: 1;
    grid-column: 1;
    text-align: start;
  }
}
@media screen and (max-width: 900px) {
  .wrapper {
    width: 100%;
  }
  .wrapper .header-container, .wrapper .main-container {
    width: 98%;
    margin: 0 auto;
  }
  .header {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 55px;
    grid-template-rows: 55px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    max-width: 100%;
  }
  .header > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header__logo, .header__contacts, .header__logo-comment, .header__list-item:last-child {
    display: none;
  }
  .header__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-bottom: 0;
  }
  .main {
    -ms-grid-columns: 54% 41%;
    grid-template-columns: 54% 41%;
  }
  .footer-container {
    background: black;
  }
  .footer {
    padding-top: 40px;
  }
}
@media screen and (max-width: 685px) {
  .main {
    -ms-grid-columns: 54%;
    grid-template-columns: 54%;
        grid-template-areas: "left" "right";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
  .main__button {
    display: none;
  }
  .main__right-header {
    text-align: start;
    margin-top: 45px;
  }
  .main__left-header {
    font-size: 36px;
  }
  .main__left-paragraph {
    margin-top: 15px;
    width: 92%;
  }
  .main .quatroBlock {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: start;
  }
  .footer {
    width: 88%;
    margin: 0 auto;
  }
  .footer__header {
    font-family: Inter, Arial, Helvetica, sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
    font-weight: 400;
    font-size: 14px;
  }
  .footer__list-item {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
    font-weight: 400;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .header__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__list-item {
    font-size: 12px;
    margin: 0;
  }
  .main-container {
    background: no-repeat url(../../../assets/mobilescreen.svg);
    background-clip: border-box;
    background-color: #1E1E1E;
    background-size: cover;
  }
  .main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 90%;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    padding: 45px 0;
    margin: 0 auto;
  }
  .main__right-header > .colorText {
    text-transform: lowercase;
  }
  .quatroBlock {
    display: none;
  }
  .quatroBlock-mobile {
    display: -ms-grid;
    display: grid;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
    font-weight: 400;
    font-size: 13px;
    -ms-grid-columns: (132px)[2];
    grid-template-columns: repeat(2, 132px);
    -ms-grid-rows: 1fr 14px 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 14px;
    margin-top: 20px;
  }
  .quatroBlock-mobile > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .quatroBlock-mobile > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .quatroBlock-mobile > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .quatroBlock-mobile > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .quatroBlock-mobile__img {
    padding-bottom: 4px;
  }
  .footer__block1 {
    margin-bottom: 30px;
  }
  .footer__block2 {
    margin-bottom: 30px;
  }
  .footer__block3 {
    margin-bottom: 30px;
  }
  .footer__block4 {
    margin-top: 0;
  }
  .adress {
    font-size: 14px;
  }
  .footer__block2 .footer__list {
    -ms-grid-columns: 115px 115px;
    grid-template-columns: 115px 115px;
  }
  .footer__block2 .footer__list-item {
    width: 115px;
  }
  .footer__block2 .footer__list-item:nth-child(2n) {
    padding-left: 15px;
  }
  .footer__list-item:nth-child(2) {
    visibility: hidden;
    visibility: hidden;
    padding: 0;
    margin-bottom: -10px;
  }
  .footer__list-item:nth-child(2)::before {
    visibility: visible;
    content: "Благодарность клиентов";
  }
  .footer__list-item:nth-child(4) {
    visibility: hidden;
    visibility: hidden;
    padding: 0;
    margin-bottom: -10px;
  }
  .footer__list-item:nth-child(4)::before {
    visibility: visible;
    content: "Кейсы";
  }
}
@media screen and (max-width: 325px) {
  .main-container {
    background-size: auto;
  }
}